venv/
.old/
node_modules
.env.local
.env
cookies.json
data/cache/
firebase-climbing-search/serviceAccountKey.json
r2_config.py
.r2_credentials

# Ignore data folder in root
/data/

# In climbing-search, only ignore backup and old folders
/climbing-search/public/data/backup/
/climbing-search/public/data/old/

# Keep firebase data files
!/firebase-climbing-search/data/
!/firebase-climbing-search/data/*.json
